body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #777;
}
.navbar.transparent.navbar-inverse.navbar-fixed-top {
   background: #FFFFFF;
}
.navbar-collapse .navbar-nav li a{
	font-family: "Helvetica Neue",Arial,sans-serif;
	color:#17202A ;
}

.navbar-header .navbar-brand {
	font-weight: 30em;
	font-size:2.5em;
	color:#17202A ;
}

.navbar-header .navbar-brand:hover,
.navbar-collapse .navbar-nav li a:hover {
	color:darkgrey;
}

.bd-pageheader{
	color: #cdbfe3;
	background-color: #563d7c;

}

.bd-pageheader h1 {
    font-size: 4rem;
    color:#FFFFFF;
}



.error-message {
  border: 1px solid;
  margin: 10px 0px;
  padding:10px 5px 10px 40px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
}

.wmd-panel {
  margin-left: 0%;
  margin-right: 0%;
  min-width: 70%;
}
.wmd-input,
.wmd-preview {
  background-color: #F5F6E8
}

.modal.loading .modal-content:before {
    content: 'Loading...';
    text-align: center;
    line-height: 155px;
    font-size: 20px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EEE;
    z-index: 1000;
}

/* Base */
.buttom-options {
    padding: 0.125em;
    font-size: 200%;
}



/* Button */
.buttom-options .btn {
    margin: 0.25em;
    float: left;
    clear: both;
    font-family: monospace;
    white-space: nowrap;
}



/* Button elements */
.buttom-options .btn > span,
.buttom-options .btn--icon > i {
    padding: 0.5em 1em;
    display: inline-block;
    transition: 0.25s all;
}
.buttom-options .btn > span {
    border-radius: 0.25em;
    white-space: nowrap;
    color: #222;
    background: #ddd;
}
.buttom-options .btn:hover > span {
    background: lightgreen;
}
.buttom-options .btn:active > span {
    background: limegreen;
    transition: none;
}



/* Button with an icon */
.buttom-options .btn--icon > i {
    border-radius: 0.25em 0 0 0.25em;
    position: relative;
    font-weight: bold;
    font-style: normal;
    color: white;
    background: #222;
}
.buttom-options .btn--icon > i:after {
    content: "";
    border: 0.35em solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 0.775em;
    right: -0.65em;
}
.buttom-options .btn--icon:hover > i,
.buttom-options .btn--icon:focus > i {
    color: #ddd;
}
.buttom-options .btn--icon > span {
    border-radius: 0 0.25em 0.25em 0;
}



/* Button custom states */
.buttom-options .btn--favorite:hover > i,
.buttom-options .btn--favorite:focus > i { color: gold; }
.buttom-options .btn--add:hover > i,
.buttom-options .btn--add:focus > i { color: lightblue; }
.buttom-options .btn--delete:hover > i,
.buttom-options .btn--delete:focus > i { color: orangered; }
.buttom-options .btn--favorite > span { background: gold; }
.buttom-options .btn--add > span { background: lightblue; }
.buttom-options .btn--delete > span { background: orangered; }
