<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}wowCS{% endblock %}</title>
    {% load staticfiles %}
    {#You put the link of bootstrap at the top so that you can overwrite it in your own stylesheet#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
{% block extend-header %}

{% endblock %}
</head>


<body>
    {% block navbar %}

    {% endblock %}
    <div class="container">
    {% block body %}

    {% endblock %}
    </div>
</body>
</html>
