{% extends 'wowCS/base.html' %}
{% block title %}Notebook Catalogue{% endblock %}
{% block body %}

    <h1>{{ notebook.notebook_title }}</h1>
    <h3>{{ notebook.notebook_description }}</h3>


    <div class="list-group">
        {% for note in notebook.note_set.all %}

          <a class="list-group-item"
             href = '{% url 'wowCS:detail' note.id %}'>
            {{note.note_title}}
          </a>


        {% endfor %}
    </div>


{#    <a href="{% url 'wowCS:note-add' notebook.notebook_title%}">#}
{#        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Note#}
{#    </a>#}

    {% if error_message %}

        <p><strong>{{ error_message }}</strong></p>

    {% endif %}


{% endblock %}
