{% extends 'wowCS/base.html' %}
{% block title %}Notebook Catalogue{% endblock %}
{% block body %}

    <h1>{{ notebook.notebook_title }}</h1>
    <h3>{{ notebook.notebook_description }}</h3>


    <div class="list-group">
        {% for note in notebook.note_set.all %}

          <a class="list-group-item"
             href = '{% url 'wowCS:detail' note.id %}'>
            {{note.note_title}}
          </a>


        {% endfor %}
    </div>

    <div class="col-sm-12">
        <br>
        <a href="{% url 'wowCS:note-add' %}">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a Note
            </button>
        </a>
    </div>
      
    {% if error_message %}

        <p><strong>{{ error_message }}</strong></p>

    {% endif %}


{% endblock %}
