{% extends 'wowCS/base.html' %}
{% block title %}Add a New Notebook{% endblock %}


{% block navbar %}

{% include 'wowCS/navbar.html' with islogin=True %}

{% endblock %}

{% block body %}


{#<div class="container-fluid">#}
{##}
{#    <div class="row">#}
{##}
{#        <div class="col-sm-12 col-md-7">#}
{#            <div class="panel panel-default">#}
{#                <div class="panel-body">#}
                    <h3>Add a New Notebook</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <p>Only Numbers and English Letters are allowed in notebook_title</p>
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'wowCS/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{##}
{#</div>#}
{% endblock %}

{% block sidebar %}

{% include 'wowCS/sidebar.html' %}

{% endblock %}