{% extends 'wowCS/base.html' %}
{% block title %}{{ note.note_title }}{% endblock %}

{% block navbar %}

{% include 'wowCS/navbar.html' with islogin=islogin %}

{% endblock %}

{% block body %}

    <p><strong>This note has been marked as favorite {{ note.favorite_count }} times</strong></p>
    {{ note_content|safe }}

    {% if error_message %}

        <p><strong>{{ error_message }}</strong></p>

    {% endif %}
    {% if is_favorite %}
        <p><strong>This is my favorite</strong></p>
    {% endif %}


{% endblock %}
































