{% extends 'wowCS/base.html'  %}


{% block navbar %}

{% include 'wowCS/navbar.html' with islogin=islogin %}

{% endblock %}

{% block body %}
    {% if all_note %}

        <h3> All public notes:</h3>

        <div class="list-group">
            {% for note in all_note %}
            <a class="list-group-item"
               href = '{% url 'wowCS:detail' note.id %}'>
               {{note.note_title}}</a>
            {% endfor %}
        </div>

    {% else %}

        <h3> No Notes!</h3>

    {% endif %}



{% endblock %}
