<div class="sidebar col-md-4">

  <!-- Search Widget -->
  <div class="well">
    <form class="navbar-form" role="search" method="get" action="/search/">
      <div class="form-group">
        <input id="search_box" type="text" class="form-control" name="search_box" value="">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>


  <!-- Notebooks Widget -->
  <div class="well">
    <h4>Your Notebooks</h4>

    {% if islogin %}
    <ul class="notebooklist"></ul>
    {% else %}
    <p> Login to see notebooks.</p>
    {% endif %}

  </div>

  <!-- Website Info -->
  <div class="well">
    <p>Website Information widget</p>
  </div>
</div>
