body{
    background: white url("images/background.png");
}

.navbar {
    border-radius: 0px !important;
}


.navbar-brand{
    font-family:'Satisfy',cursive;
}

.error-message {
  border: 1px solid;
  margin: 10px 0px;
  padding:10px 5px 10px 40px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
}

.wmd-panel {
  margin-left: 0%;
  margin-right: 0%;
  min-width: 70%;
}
.wmd-input,
.wmd-preview {
  background-color: #F5F6E8
}

.modal.loading .modal-content:before {
    content: 'Loading...';
    text-align: center;
    line-height: 155px;
    font-size: 20px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EEE;
    z-index: 1000;
}
